<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../images/logo.b831a251.png" />

</head>

<body>
    <div class="navbar">
      <div class="title">
        <a href="/home">
            <div class="logo"></div>
            <h1>IIITK Swar</h1>
        </a>
      </div>
      <ul>
        <a href="/home" class="home-nav">Home</a>
        <a href="/registerComplaint" class="complaints-nav">New Complaint</a>
        <a href="/allcomplaint" class="all-nav">All Complaints</a>
        <a href="/profile" class="profile-nav">Profile</a>
      </ul>
    </div>
    <div class="hamburger-menu">
      <input type="checkbox" />
      <div class="lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items">
        <li><a href="/" class="home-side-nav">Home</a></li>
        <li><a href="/" class="complaints-side-nav">New Complaint</a></li>
        <li><a href="/" class="all-side-nav">All Complaints</a></li>
        <li><a href="/" class="profile-side-nav">Profile</a></li>
      </ul>
    </div> 
    <div class="both">
        <div class="left">
            <div class="wrap">
                <h1 class="head">
                    IIITK Swar
                </h1>
                <p>The only place where your complaints are precious to us! if you have any complaint against
                    anything in Indian Institute Of Information Technology, Kota. You are at the right place.</p>
                <div class="butt1">
                    <button id="regbtn">Register Complaint</button>
                </div>
            </div>
        </div>
        <div class="right">
        </div>
    </div>
    </div>

    <script>
        document.getElementById("regbtn").addEventListener("click", function() {
            window.location.href = "/registerComplaint";
        });
    </script>
</body>

</html>