<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/newcomplaint.css">
    <title>ALLComplains</title>
</head>

<body>
    <div class="navbar">
        <div class="title">
            <div class="logo">
            </div>
            <h1>IIITK Swar</h1>
        </div>
        <ul>
            <a href="/home" class="home-nav">Home</a>
            <a href="/registerComplaint" class="complaints-nav">New Complaint</a>
            <a href="/allcomplaint" class="all-nav">All Complaints</a>
            <a href="/profile" class="profile-nav">Profile</a>
        </ul>
    </div>

    <div class="hamburger-menu">
        <input type="checkbox" />
        <div class="lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="/" class="home-side-nav">Home</a></li>
            <li><a href="/" class="complaints-side-nav">New Complaint</a></li>
            <li><a href="/" class="all-side-nav">All Complaints</a></li>
            <li><a href="/" class="profile-side-nav">Profile</a></li>
        </ul>
    </div>

    <div class="back">
        <h1>Complain form</h1>
        <div class="for">
            <form action="/createComplaint" method="post">
                <label for="title">Complain title:</label>
                <input type="text" id="title" name="title" placeholder="Your complaint is about..">

                <label for="Description">Description:</label>
                <textarea id="Description" name="content" placeholder="Please Describe Your Issue"></textarea>

                <label for="Complain-type">Complain type:</label>

                <select id="mySelect" name="category">
                    <option class="op" value="Mess" <% if (selectedOption === 'Mess') { %> selected <% } %>>Mess </option>
                    <option class="op" value="Academic" <% if (selectedOption === 'Academic') { %> selected <% } %>>Academic</option>
                    <option class="op" value="Network" <% if (selectedOption === 'Network') { %> selected <% } %>>Network</option>
                  </select>
                <button class="submit">Submit</button>
            </form>
        </div>
    </div>


    

</body>

</html> -->






<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIITK SWAR</title>
    <link rel="stylesheet" href="../stylesheets/newcomplaint.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="title">
        <div class="logo"></div>
        <h1>IIITK Swar</h1>
      </div>
      <ul>
        <a href="/" class="home-nav">Home</a>
        <a href="/" class="complaints-nav">New Complaint</a>
        <a href="/" class="all-nav">All Complaints</a>
        <a href="/" class="profile-nav">Profile</a>
      </ul>
    </div>
    <div class="hamburger-menu">
      <input type="checkbox" />
      <div class="lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items">
        <li><a href="/" class="home-side-nav">Home</a></li>
        <li><a href="/" class="complaints-side-nav">Complaint</a></li>
        <li><a href="/" class="profile-side-nav">Profile</a></li>
      </ul>
    </div>

    <form action="/createComplaint" method="post">
      <h1>Describe Your Isuue</h1>
      <div class="input-title">
        <p>Complaint Title</p>
        <input type="text" placeholder="Title Here" name="title">
      </div>
      <div class="input-desc">
        <p>Complaint Description</p>
        <textarea placeholder="Describe your complaint" name="content"></textarea>
      </div>
      <div class="input-category">
        <p>Complaint Category</p>
        <select id="mySelect" name="category">
            <option class="op" value="Mess" <% if (selectedOption === 'Mess') { %> selected <% } %>>Mess </option>
            <option class="op" value="Academic" <% if (selectedOption === 'Academic') { %> selected <% } %>>Academic</option>
            <option class="op" value="Network" <% if (selectedOption === 'Network') { %> selected <% } %>>Network</option>
        </select>
      </div>
      <input type="submit" class="submit">
    </form>
  </body>
</html>